@use '../../styles/variables.scss' as v;
@use '../../styles/textStyles.scss' as t;

.navlinkWrapper {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
}

.icon {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navlink {
	@include t.font-style(600, normal, v.$inactiveLight, 25px);
	text-decoration: none;
	transition: color 0.3s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1.5em;
	padding: 0.5rem;
	width: 200px;

	&:hover {
		@include t.font-style(600, normal, v.$defaultLight, 25px);
		opacity: 0.8;
	}

	i {
		text-decoration: none;
	}
}

.navlinkActive {
	@include t.font-style(600, normal, v.$defaultLight, 25px);
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1.5em;
	padding: 0.5rem;
	width: 200px;

	i {
		text-decoration: none;
	}
}

.submenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 100%;
	.submenuLink {
		@include t.font-style(500, normal, v.$inactiveLight, 16px);
		text-decoration: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding-left: 2em;
	}
	.submenuActive {
		@include t.font-style(500, normal, v.$defaultLight, 16px);
		text-decoration: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding-left: 2em;
	}
}
