@use '../styles/textStyles.scss' as *;
@use '../styles/variables.scss' as *;

.rowWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 1em;
}

.portalWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1em 6em;
	height: 100%;
	flex: 5;
	overflow: auto;

	hr {
		width: 100%;
		border: 1px solid #dedede;
	}
}

.menuHeaderWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em 0;
}

.menuHeader {
	@include font-style(600, normal, $primColor, 16px);
}

.thinFont {
	@include font-style(200, normal, $primColor, 16px);
	padding-left: 0.5em;
}

.iconWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.3em;

	p {
		@include font-style(300, normal, $primColor, 12px);
	}
}

.userInfoWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 1em 0;
	margin-bottom: 2em;
	gap: 2em;
}

.userAccessWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 1em 0;
	margin-bottom: 2em;
}

.machineAccessInfo {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 1em;
}
